/*Fonte "Cocon" para títulos. */

@import url('https://fonts.cdnfonts.com/css/cocon');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #003536;
}

::-webkit-scrollbar {
  width: 15px; 
  height: 5px; 
}

::-webkit-scrollbar-thumb {
  background-color: #00C2A2; 
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background-color: #f8f8f8; 
  border-radius: 6px;
}

::-webkit-scrollbar-button {
  display: none; 
}

::-webkit-scrollbar-corner {
  background-color: #f8f8f8; 
}

html {
  scrollbar-color: #00C2A2 #ffffff; 
  scrollbar-width: thin;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    display: flex;
    align-items: center;
    width: 80px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 30px;
}

.nav-item a:hover {
    color: #00c2a2;
    transition: all 0.3s;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s;
}

.nav-link:hover {
    color: #00c2a2;
    font-weight: 500;
    font-style: normal;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #ffffff;
    transition: all 0.3s;
}

.login-button button:hover {
    background-color: #00c2a2;
    scale: 1.05;
}

.login-button button a {
    text-decoration: none;
    color: #003536;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
}

.login-button button a:hover {
    color: white;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        align-self: center;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

/* Página do Contato e SAC: */



.container-form {
    background-color: #003536;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-form form {
    margin-left: 5%;
    width: 63%;
}

.container-form .image-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    width: 25%;
}

.container-form .image-container img {
    padding-bottom: 5rem;
    width: 100%;
    height: auto;
    margin-bottom: 20%;
}

h1 {
    font-family: "Cocon", sans-serif;
    margin-bottom: 2%;
    font-size: 3rem;
    word-wrap: break-word;
    width: 60%;
    color: white;
}

label {
    margin-bottom: 15px;
    display: block;
}

input,
textarea {
    margin-bottom: 10px;
    width: 71vh;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 55%;
}

#nome-label,
#email-label,
#duvida-label {
    max-width: fit-content;
    text-align: left;
    color: white;
}

#nome,
#email {
    font-size: 15px;
    outline: rgb(0, 97, 99);
    padding: 12px;
    border-radius: 10px;
    color: black;
}

#duvida {
    outline: rgb(0, 97, 99);
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
    color: black;
    resize: none;
}

.poppins-input {
    font-family: "Poppins", sans-serif;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 40px;
}

form {
    margin-left: 5rem;
}

form button[type="submit"] {
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #003536;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    margin-bottom: 10%;
}

form .submit {
    margin-top: 10px;
}

form button[type="submit"]:hover {
    background-color: #00c2a2;
    color: white;
    scale: 1;
}

/*Formatação do pop-up ao enviar a pergunta. */

.container-form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-envio {
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    width: 35%;
    position: fixed;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;
    overflow: hidden;
    padding: 2rem;
    box-shadow: 0px 0px 30px rgba(0, 33, 33, 0.4);
    z-index: 999;
}

.btn-voltar {
    font-size: 1rem;
    display: flex;
    height: 3em;
    width: 480px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.2s linear;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: #003536;
    color: white;
}

.btn-voltar:hover i {
    transform: translateX(-3px);
}

.btn-voltar:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    background: #00c2a2;
}

.btn-voltar i {
    margin-right: 10px;
    margin-left: 4px;
    font-size: 18px;
    transition: all 0.4s ease-in;
    stroke: white;
    fill: white;
}

.blur1 p {
    font-weight: 660;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #003536;
}

body.no-scroll {
    overflow: hidden;
}

a{
    text-decoration: none;
}

a:visited{
    color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container-form form {
        width: 63%;
    }

    .container-form .image-container {
        display: flex;
        justify-content: flex-end;
        width: 30%;
    }

    .container-form .image-container img {
        width: 100%;
        height: auto;
        margin-bottom: 20%;
    }

    h1 {
        font-family: "Cocon", sans-serif;
        margin-bottom: 2%;
        font-size: 2rem;
        word-wrap: break-word;
        width: 80%;
        color: white;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    h1 {
        width: 80%;
        word-wrap: break-word;
        text-align: center;
    }

    form {
        align-items: center;
    }

    .container-form {
        margin-left: -3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-form .image-container {
        display: none;
    }

    .container-form form {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nome, #email, #duvida{
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    h1{
        margin-top: 1rem;
        width: 70%;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .container-form .image-container {
        display: none;
    }

    form {
        align-items: center;
    }

    .container-form {
        margin-left: -2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-form .image-container {
        display: none;
    }

    .container-form form {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #duvida, #email, #nome{
        font-size: 0.7rem;
    }

    label{
        font-size: 0.9rem;
    }
}

/*Página de Perguntas e Dúvidas. */

.questions {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 5%;
}

.p-2 {
    font-family: "Poppins", sans-serif;
    margin-top: 5%;
    text-align: center;
    color: #003536;
    font-size: 46px;
    word-wrap: break-word;
    font-weight: 700;
    margin-bottom: 2%;
}

.faq {
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;
}

/* Caixinha verde de perguntas e animações da mesma. */

.faq-item {
    background: linear-gradient(49deg, #003536, #006C6F);
    border-radius: 15px;
    padding: 3vh;
    width: 30vw;
    height: 4vw;
    color: white;
    cursor: pointer;
    transition: transform 0.4s;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.faq-item:hover {
    transform: translateY(-3.5px);
    font-size: 1.3rem;
}

/* Ícone da caixinha verde. */

.faq-icone {
    padding-left: 1vh;
    align-self: center;
}

.faq-icone::before {
    transform: translate(-50%, -50%);
}

.faq-texto {
    font-size: 1rem;
    margin-left: 3vh;
}

/* Parágrafo explicativo. */

.texto {
    color: #003536;
}

.interacao-prompt {
    display: inline;
    text-align: center;
    margin-bottom: 5vh;
    color: #003536;
}

.interacao-prompt img {
    width: 2.1rem;
    right: 5px;
    vertical-align: middle;
}

.interacao-prompt p {
    font-size: 1rem;
    font-weight: 410;
}


/* Formatação dos modáis (pop-ups). */

.modal {
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    width: 35%;
    position: fixed;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;
    overflow: hidden;
    padding: 45px;
    box-shadow: 0px 0px 30px rgba(0, 33, 33, 0.4);
    z-index: 999;
}

.modal-content {
    font-family: "Poppins", sans-serif;
    text-align: left;
    color: #003536;
}

.titulo-pergunta {
    color: #003536;
    font-weight: 610;
    font-size: 1.1rem;
    display: inline-flex;
    margin-bottom: 2.5vh;
}

.titulo-pergunta img {
    max-width: 4rem;
    margin-right: 20px;
}

.modal-content p {
    font-size: 1.1rem;
    color: #003536;
    font-weight: 500;
}

span {
    font-weight: 700;
    color: #003536;
}

.close-modal {
    place-items: center;
    border: none;
    color: #003536;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: none;
}

.close-modal i {
    font-size: 2rem;
    overflow: hidden;
    color: #003536;
}


body.modal-open {
    overflow: hidden;
}

/* Efeito de tela borrada (blur) ao clicar nas perguntas. */

#blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 1;
}

#blur.active {
    opacity: 1;
    pointer-events: auto;
    overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .faq-icone {
        padding-left: 0vh;
        width: 10vw;
        height: auto;
    }

    .faq-item {
        width: 35vw;
        height: auto;
    }

    .faq-texto {
        margin-left: 2vh;
        font-size: 1.1rem;
    }

    h2 {
        font-size: 4rem;
    }

    .interacao-prompt p {
        font-size: 1.4rem;
    }
}

@media (min-width:481px) and (max-width: 768px) {


    h2 {
        margin-top: 4rem;
        font-size: 3.5rem;
        word-wrap: break-word;
    }

    .interacao-prompt p {
        margin-top: 1rem;
        word-wrap: break-word;
        font-size: 1rem;
    }

    .faq-item {
        width: 17rem;
        height: 4rem;
    }

    .faq-texto{
        font-size: 1rem;
    }
}

@media (max-width: 480px) {

    h2 {
        margin-top: 4rem;
        font-size: 3rem;
        word-wrap: break-word;
    }

    .interacao-prompt p {
        margin-top: 1rem;
        word-wrap: break-word;
        font-size: 0.9rem;
    }

    .faq-item {
        width: 15rem;
        height: 3rem;
    }

    .faq-texto{
        font-size: 0.8rem;
    }
}
/* Rodapé da Tela. */

footer {
    width: 100%;
    color: white;
}

  .footer-h3 {
    font-weight: 500;
  }

.footer-link {
    text-decoration: none;
}

#container-footer {
    background-color: #003536;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts img {
    margin-bottom: 0.75rem;
    width: 100px;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #dfdfdf;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #00c2a2;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #dfdfdf;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #ffffff;
    border: none;
    color: #003536;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button i {
    color: #003536;
}


#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #003536a8;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 768px) {
    #container-footer {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #container-footer {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}