* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background-color: #f8f8f8;
}

/* Formatação para o conteúdo (main) não ficar escondido atrás do sidebar. */

main {
    flex: 1;
    margin-top: 2.5rem;
    padding-left: calc(0px + 10px);
    transition: padding-left 0.5s ease;
}

/* Sidebar (minimizado e expandido). */

#sidebar.expandido~main {
    padding-left: calc(10px + 0px);
}

#sidebar {
    margin: 2.5rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    height: 95vh;
    border-radius: 20px;
    position: relative;
    transition: width 0.5s ease-in-out;
    width: 6.5rem;
    z-index: 2;
}

#sidebar_content {
    padding: 0.9rem;
}

#logo p {
    font-family: "Cocon", sans-serif;
    font-size: 2.3rem;
    letter-spacing: 1.7px;
    font-weight: bold;
    color: #00C2A2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: width 0.3s ease;
}

#side_items {
    place-items: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px 1rem;
    cursor: pointer;
}

.side-item:hover:not(.active) {
    background-color: #e3f7f4;
}

.side-item a {
    text-decoration: none;
    color: #969696;
    width: 100%;
    display: flex;
    align-items: center;
}

.side-item3 {
    background-color: #00c2a22d;
    border-radius: 10px;
}

.side-item3 span {
    color: #003536;
}

.side-item a svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
}

.item-description {
    margin-left: 0.7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    color: #969696;
    transition: width .6s;
}

#sidebar.open-sidebar .item-description {
    width: 9.3rem;
    height: auto;
    transition: width 0.5s ease, height 0.5s ease;
}

#sidebar.expandido {
    width: 250px;
}

#sidebar_content {
    opacity: 1;
    transition: opacity 0.3s;
}

#side_items .item-description {
    display: none;
}

#sidebar.expandido #side_items .item-description {
    display: flex;
}

hr {
    align-items: center;
    height: 1.5px;
    border-radius: 5px;
    border: none;
    background-color: #58585899;
    margin: 1rem;
}

/* Notificações do usuário e conta. */

header {
    position: absolute;
    top: 2rem;
    right: 1rem;
    padding: 0.8rem 1.3rem;
    z-index: 10;
}

.container-noti {
    display: flex;
    align-items: center;
}

.noti-icon {
    width: 90px;
    height: 75px;
    padding: 1rem;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: background-color 0.9s ease;
}

.noti-icon-active {
    transition: background-color 2s ease;
    background-color: #00c2a22d;
}

@keyframes swing {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(15deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0);
    }
}

.noti-icon.swing {
    animation: swing 0.6s ease;
}

.conta {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 13px;
    width: 100%;
}

.conta svg {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 1rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container i {
    justify-content: space-between;
    color: #969696;
    cursor: pointer;
}

.user-nome {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.user-email {
    color: #969696;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

/* Pop-Up das notificações. */

.notificacao-popup {
    position: absolute;
    width: 450px;
    margin-top: 3rem;
    margin-right: 1rem;
    top: 100%;
    right: 0;
    background-color: white;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    display: none;
}

.notificacao-popup.active {
    display: block;
    animation: slideInRight 0.5s ease-in-out;
}

/*Animações ao abrir as notificações. */

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.texto-e-svg span {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 400;
}

.texto-e-svg {
    display: flex;
    justify-content: space-between;
}

.notificacao-popup p {
    font-size: 0.8rem;
    color: #969696;
}

.navegacao {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 0px 3.5px 3.5px #96969618;
    padding: 0.5rem;
    gap: 5rem;
    place-content: center;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.navegacao a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #00c2a2;
}

.navegacao a:active {
    color: #003536;
}

/* Conteúdo (main). */

.botao-e-h1 {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.botao-e-h1 h1 {
    margin: 0rem 0rem 0rem 24rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #003536;
}

.voltar-button {
    margin-right: auto;
    width: 150px;
    font-size: 0.8rem;
    padding: 0.7rem;
    text-decoration: none;
    color: #454545;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.6s ease;
}

.voltar-button i {
    font-weight: 510;
    align-items: center;
    margin-right: 0.8rem;
}

.voltar-button:hover {
    background-color: #f8f8f8;
    transition: 0.6s ease;
    box-shadow: none;
}

.main-container {
    display: flex;
    margin-bottom: 4rem;
}

.coluna-direita{
    margin-right: 4rem;
}

.imagem-clinica {
    width: 700px;
    height: auto;
    background-color: white;
    border: none;
    border-radius: 20px;
}

.imagem-clinica img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
}

.clinica-texto {
    margin-top: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.clinica-coracao {
    display: flex;
    justify-content: space-between;
}

.clinica-coracao h3 {
    font-weight: 450;
    font-size: 1rem;
}

.clinica-coracao img {
    width: 20px;
}

.avaliacao {
    display: flex;
}

.avaliacao p {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    margin-left: 0.4rem;
    color: #969696;
}

.rating {
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #00C2A2;
    transition: color 0.3s;
}

.rating label:before {
    content: '\2605';
    font-size: 17px;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label {
    color: #00c2a2;
    transition: color 0.3s;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 450;
}

.user-rating {
    width: 450px;
    height: auto;
    padding: 0.5rem;
    background-color: white;
    border: 1.5px solid #ececec;
    border-radius: 15px;
    margin-bottom: 1.5rem;
}

.user-name {
    display: flex;
    align-items: center;
}

.nome-e-des {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.user-rating img {
    width: 40px;
    height: auto;
}

.user-rating h4 {
    font-size: 0.8rem;
    font-weight: 500;
    color: #003536;
}

.user-rating h5 {
    font-size: 0.7rem;
    font-weight: 400;
    color: #969696;
}

.user-rating p {
    font-size: 0.75rem;
    color: #969696;
}

.rating2 {
    margin-top: 0.4rem;
    display: inline-block;
}

.rating2 input {
    display: none;
}

.rating2 label {
    float: right;
    cursor: pointer;
    color: #00C2A2;
    transition: color 0.3s;
}

.rating2 label:before {
    content: '\2605';
    font-size: 17px;
}

.rating2 input:checked~label,
.rating2 label:hover,
.rating2 label:hover~label {
    color: #00c2a2;
    transition: color 0.3s;
}

.s-1 {
    color: #00C2A2;
    cursor: pointer;
}

.h-3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.p-1 {
    width: 70%;
    word-wrap: break-word;
    font-size: 0.9rem;
    color: #969696;
    margin-bottom: 1.5rem;
}

.servicos {
    width: 400px;
    height: auto;
    padding: 1rem;
    background-color: white;
    border: 1px solid #ececec;
    border-radius: 15px;
    margin-bottom: 1.5rem;
}

.servicos h4 {
    font-size: 1.05rem;
    font-weight: 450;
    margin-bottom: 1rem;
}

.especialidade {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.servicos-itens {
    display: flex;
}

.servicos-itens svg {
    padding: 0.4rem;
    border: 1px solid #ececec;
    border-radius: 50%;
}

.servicos-itens h5 {
    font-size: 0.9rem;
    color: #969696;
    font-weight: 450;
}

.servicos-itens p {
    font-size: 0.8rem;
    font-weight: 400;
    color: #969696;
}

.servicos button {
    width: 180px;
    margin-top: 1.3rem;
    font-size: 0.8rem;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    border: #00C2A2;
    border-radius: 20px;
    background-color: #00C2A2;
    box-shadow: 0px 0px 2px 2px #00c2a23b;
    transition: 0.6s ease;
    cursor: pointer;
}

.servicos i {
    font-weight: 510;
    align-items: center;
    margin-left: 0.8rem;
}

.servicos a button:hover {
    background-color: #f9f9f9;
    color: #969696;
    transition: 0.6s ease;
    border: 1px solid #969696;
    box-shadow: none;
}

a {
    text-decoration: none;
}

.h4-info {
    font-weight: 450;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.informacoes {
    margin-bottom: 1rem;
    display: flex;
    gap: 25px;
    align-items: center;
}

.informacoes p {
    font-size: 0.95rem;
}

.h4-loc {
    font-weight: 450;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
