* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #003536;
    box-shadow: 0px 2px 10px #003536;
    margin-bottom: 6%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    display: flex;
    align-items: center;
    width: 80px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 30px;
}

.nav-item a:hover {
    color: #00c2a2;
    transition: all 0.3s;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s;
}

.nav-link:hover {
    color: #00c2a2;
    font-weight: 500;
    font-style: normal;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #ffffff;
    transition: all 0.3s;
}

.login-button button:hover {
    background-color: #00c2a2;
    scale: 1.05;
}

.login-button button a {
    text-decoration: none;
    color: #003536;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
}

.login-button button a:hover {
    color: white;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        align-self: center;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

#h1-1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #003536;
    display: grid;
    place-items: center;
    margin-bottom: 2%;
}

#p-1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #003536;
    display: grid;
    place-items: center;
    margin-bottom: 3%;
}

.monitor {
    display: grid;
    grid-template-areas: "../imagens/tela-computador.png";
    margin-bottom: 3%;
}

.monitor img {
    grid-area: monitor;
    width: 900px;
    z-index: 4;
}

.tela {
    grid-area: tela;
    width: 900px;
    height: 600px;
    z-index: 2;
    border-radius: 25px;
}

.tela-1 {
    grid-area: tela-1;
    width: 900px;
    height: 600px;
    z-index: 3;
    border-radius: 25px;
}

#h1-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #003536;
    display: grid;
    place-items: center;
    margin-bottom: 2%;
}

#p-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #003536;
    display: grid;
    place-items: center;
    margin-bottom: 3%;
}

#modal-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;
    overflow: hidden;
    z-index: 999;
}


.container-form-modal-2 {
    background-color: white;
    width: 600px;
    height: 300px;
    margin: auto;
    padding: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 1s ease-in-out;
}

.container-form-modal-2 h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    align-items: center;
    text-align: center;
    color: #003536;
    margin-bottom: 15px;
}

.container-form-modal-2 button:active {
    scale: 0.95;
}

.container-form-modal-2 .btn-login-2 {
    background-color: #003536;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding: 12px 12px;
    gap: 8px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 53, 54, 0.25);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
}


.container-form-modal-2 .btn-login-2:hover {
    background-color: rgb(0, 97, 99);
    box-shadow: 0px 0px 30px rgba(0, 97, 99, 0.50);
}


#modal-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;
    overflow: hidden;
    z-index: 999;
}


.container-form-modal {
    background-color: white;
    width: 600px;
    height: 550px;
    margin: auto;
    padding: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 1s ease-in-out;
}


.container-form-modal button:active {
    scale: 0.95;
}

.container-form-modal .grupo-form-modal {
    gap: 2px;
    margin-bottom: 30px;
}

.container-form-modal .grupo-form-modal label {
    display: block;
    margin-bottom: 5px;
}

.container-form-modal .grupo-form-modal input {
    width: 80%;
    padding: 12px 16px;
    border-radius: 10px;
    font-family: inherit;
    border: 1px solid #ccc;
}

.close-modal {
    place-items: center;
    border: none;
    color: #003536;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 2vh;
    right: 2vh;
}

.close-modal i {
    font-size: 2rem
}


.container-form-modal .grupo-form-modal input::placeholder {
    opacity: 0.5;
}

.container-form-modal .grupo-form-modal input:focus {
    outline: none;
    border-color: #1778f2;
}

.container-form-modal .btn-cadastre-se {
    background-color: #003536;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding: 12px 12px;
    gap: 8px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 53, 54, 0.25);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
}


.container-form-modal .btn-cadastre-se:hover {
    background-color: rgb(0, 97, 99);
    box-shadow: 0px 0px 30px rgba(0, 97, 99, 0.50);
}


.container-form {
    background-color: white;
    width: 500px;
    height: 400px;
    margin: auto;
    box-shadow: 0px 0px 30px rgba(0, 33, 33, 0.4);
    padding: 30px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 6%;
}

.container-form button:active {
    scale: 0.95;
}

.container-form .grupo-form {
    gap: 2px;
    margin-bottom: 30px;
}

.container-form .grupo-form label {
    display: block;
    margin-bottom: 5px;
}

.container-form .grupo-form input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 10px;
    font-family: inherit;
    border: 1px solid #ccc;
}

.container-form .grupo-form input::placeholder {
    opacity: 0.5;
}

.container-form .grupo-form input:focus {
    outline: none;
    border-color: #1778f2;
}

.container-form .btn-login {
    background-color: #003536;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding: 12px 12px;
    gap: 8px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 53, 54, 0.25);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
}

#link-area-restrita-login {
    text-decoration: none;
    color: white;
}

.container-form .btn-login:hover {
    background-color: rgb(0, 97, 99);
    box-shadow: 0px 0px 30px rgba(0, 97, 99, 0.50);
}

.container-form .cadastro-link-link {
    color: #1778f2;
    text-decoration: none;
    cursor: pointer;
}

.container-form .cadastro-link-link-link {
    color: #1778f2;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}

.form-container .cadastro-link {
    align-self: center;
    font-weight: 500;
}

.grupo-texto-cadastro {
    margin-bottom: 5px;
}

.form-container .cadastro-link-link {
    font-weight: 400;
}

.form-container .cadastro-link-link:hover {
    text-decoration: underline;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer {
    width: 100%;
    color: white;
}

.footer-link {
    text-decoration: none;
}

#container-footer {
    background-color: #003536;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 5%;
}

#footer_contacts img {
    margin-bottom: 0.75rem;
    width: 100px;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #dfdfdf;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #00c2a2;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #dfdfdf;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #ffffff;
    border: none;
    color: #003536;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}


#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #003536a8;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 768px) {
    #container-footer {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #container-footer {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #003536;
    transition: all 0.2s ease;
  }
  
  body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
  }
  
  .chatbot-toggler span {
    color: #fff;
    position: absolute;
  }
  
  .chatbot-toggler span:last-child,
  body.show-chatbot .chatbot-toggler span:first-child {
    opacity: 0;
  }
  
  body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
  }
  
  .chatbot {
    z-index: 9999;
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
      0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
  }
  
  body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
  
  .chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #fff;
    background: #003536;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
  }
  
  header h2 {
    font-size: 1.4rem;
  }
  
  .chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
  }
  
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
  }
  
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
  }
  
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }
  
  .chatbox .chat {
    display: flex;
    list-style: none;
  }
  
  .chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
  }
  
  .chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: #003536;
    border-radius: 4px;
    margin: 0 10px 7px 0;
  }
  
  .chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #fff;
    font-size: 0.95rem;
    background: #003536;
  }
  
  .chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
  }
  
  .chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
  }
  
  .chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
  }
  
  .chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
  }
  
  .chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
  }
  
  .chat-input span {
    align-self: flex-end;
    color: #003536;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
  }
  
  .chat-input textarea:valid~span {
    visibility: visible;
  }
  
  @media (max-width: 490px) {
    .chatbot-toggler {
      right: 20px;
      bottom: 20px;
    }
  
    .chatbot {
      right: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 100%;
    }
  
    .chatbot .chatbox {
      height: 90%;
      padding: 25px 15px 100px;
    }
  
    .chatbot .chat-input {
      padding: 5px 15px;
    }
  
    .chatbot header span {
      display: block;
    }
  }