body .carousel-container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.carousel-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-grow: 1;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.comment {
    min-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.nav-button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 5px;
    flex-shrink: 0;
}


@media (max-width: 480px) {
    .comment {
        padding: 10px;
        font-size: 14px;
    }

    .nav-button {
        padding: 8px;
        font-size: 14px;
    }
}