/*Fonte "Cocon" para títulos. */

@import url('https://fonts.cdnfonts.com/css/cocon');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* Barra de navegação do usuário */

.nav-bar {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    position: relative;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    display: flex;
    align-items: center;
    width: 80px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: auto;
}

.nav-list ul {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 30px;
}

.nav-item a:hover {
    color: #00c2a2;
    transition: all 0.3s;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s;
}

.nav-link:hover {
    color: #00c2a2;
    font-weight: 500;
    font-style: normal;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #ffffff;
    transition: all 0.3s;
}

.login-button button:hover {
    background-color: #00c2a2;
    scale: 1.05;
}

.login-button button a {
    text-decoration: none;
    color: #003536;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
}

.login-button button a:hover {
    color: white;
}

.mobile-menu {
    display: none;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu.open {
    display: block;
}

/* Barra de navegação responsiva (dispositivos móveis). */

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

/* Carrossel de imagens. */

.carrossel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    align-items: center;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 15px 20px #0035365f;
    margin-top: -10%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    flex-shrink: 0;
    display: none;
}

.slide.active {
    display: contents;
}

.slide img {
    width: 100%;
    max-height: 110vh;
    object-fit: cover;
}

.carrossel img {
    flex-shrink: 0;
}

.texto-um-carrossel h1 {
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.texto-dois-carrossel h1 {
    font-size: 70px;
    position: absolute;
    text-align: right;
    top: 35%;
    left: 50%;
    width: 40%;
    color: white;
}

.texto-tres-carrossel h1 {
    font-size: 70px;
    position: absolute;
    text-align: left;
    color: white;
    width: 40%;
    top: 30%;
    left: 10%;
}

.btn-cadastrar {
    background-color: #ffffff;
    color: #003536;
    width: 380px;
    height: 85px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.638);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    position: absolute;
    top: 70%;
    left: 70%;
    cursor: pointer;
}

.btn-cadastrar:hover {
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.638);
}

.btn-agendar {
    background-color: #ffffff;
    color: #003536;
    width: 380px;
    height: 85px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.638);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
    position: absolute;
    top: 65%;
    left: 10%;
    cursor: pointer;
}

.btn-agendar:hover {
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.638);
}

a {
    color: #003536;
    text-decoration: none;
}

.carrossel-setas {
    top: 50%;
    left: 50%;
    z-index: 1;
}

/* Setas para navegar no carrossel. */

.seta-esquerda {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
}

.seta-direita {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
}

.seta-esquerda,
.seta-direita {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.bg-branco {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.bg-verde {
    background-color: #003536;
    padding-top: 5%;
    text-align: center;
    padding-bottom: 10%;
}

.h1-branco {
    color: white;
    font-size: 65px;
    font-family: 'Cocon', sans-serif;
}

/* Página "Quem Somos". */

.bg-branco {
    background-color: white;
    padding: 20px;
}

.quem-somos {
    text-align: center;
}

.h1-quemsomos {
    font-size: 5.5rem;
    color: #003536;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row-reverse;
}

.texto {
    flex: 1;
    max-width: 400px;
}

.p-quem-somos {
    font-size: 20px;
    color: #333;
    line-height: 1.6;
    text-align: end;
}

.p-quem-somos span {
    font-weight: 600;
    color: #003536;
}

.imagem-cachorro {
    flex: 1;
    max-width: 400px;
}

.imagem-cachorro img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.caixinha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.p-1 {
    padding-top: 5vh;
    color: white;
    font-size: 24px;
    margin-bottom: 5%;
}

/* Página de "Serviços". */

/* Caixinha explicativa do diferencial do projeto. */

.servicos {
    background: linear-gradient(520deg, #ffffff, #ababab 80%);
    border-radius: 15px;
    padding: 2vh;
    width: 40vh;
    min-height: 40vh;
    color: #003536;
    cursor: default;
    transition: transform 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos-h3 {
    font-size: 34px;
    color: #003536;
}

.itens-servicos img {
    width: 35vh;
    height: 5vh;
    position: static;
}


.servicos p {
    font-size: 2.5vh;
    font-weight: 405;
    color: #003536;
    text-align: center;
}


@media (max-width: 768px) {
    .bg-branco2 {
        margin-top: 10%;
        margin-bottom: 20%;
    }

    h1 {
        font-size: 40px;
    }

    .p-2 {
        font-size: 18px;
    }

    .button-1 {
        width: 300px;
        height: 60px;
        font-size: 18px;
    }

    .servicos {
        width: 80%;
        min-height: 30vh;
        margin-bottom: 20px;
    }

    .servicos-h3 {
        font-size: 28px;
    }

    .itens-servicos img {
        width: 25vh;
        height: 3vh;
    }

    .servicos p {
        font-size: 2vh;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .bg-branco2 {
        margin-top: 8%;
        margin-bottom: 18%;
    }

    h1 {
        font-size: 50px;
    }

    .p-2 {
        font-size: 20px;
    }

    .button-1 {
        width: 400px;
        height: 70px;
        font-size: 20px;
    }

    .servicos {
        width: 60%;
        min-height: 35vh;
        margin-bottom: 20px;
    }

    .servicos-h3 {
        font-size: 32px;
    }

    .itens-servicos img {
        width: 30vh;
        height: 4vh;
    }

    .servicos p {
        font-size: 2.3vh;
    }
}

/* Página de cadastro. */

.bg-branco2 {
    margin-top: 6%;
    text-align: center;
    margin-bottom: 15%;
}

h1 {
    color: #003536;
    font-size: 65px;
    font-family: 'Cocon', sans-serif;
}

.p-2 {
    padding-top: 5vh;
    font-size: 24px;
    color: #003536;
}

span {
    color: #003536;
    font-weight: 600;
}

/* Botão de cadastro. */

.button-1 {
    margin-top: 6rem;
    background-color: #003536;
    color: white;
    width: 490px;
    height: 85px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 53, 54, 0.25);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.button-1:hover {
    background-color: rgb(0, 97, 99);
    box-shadow: 0px 0px 30px rgba(0, 97, 99, 0.50);
}

/* Página de cadastro responsiva para dispositivos móveis (celular). */

@media (max-width: 767px) {
    .bg-branco2 {
        margin-top: 20%;
        margin-bottom: 20%;
    }

    h1 {
        font-size: 36px;
    }

    .p-2 {
        font-size: 18px;
        padding-top: 3vh;
    }

    .button-1 {
        width: 80%;
        height: 60px;
        font-size: 18px;
        margin-top: 4rem;
        position: relative;
        transform: none;
    }
}

/* Página de cadastro responsiva para tablets. */

@media (min-width: 768px) and (max-width: 1023px) {
    .bg-branco2 {
        margin-top: 10%;
        margin-bottom: 15%;
    }

    h1 {
        font-size: 48px;
    }

    .p-2 {
        font-size: 20px;
        padding-top: 4vh;
    }

    .button-1 {
        width: 60%;
        height: 70px;
        font-size: 20px;
        margin-top: 4rem;
        position: relative;
        transform: none;
    }
}

/* Página de cadastro responsiva para desktops. */

@media (min-width: 1024px) {
    .bg-branco2 {
        margin-top: 6%;
        margin-bottom: 15%;
    }

    h1 {
        font-size: 65px;
    }

    .p-2 {
        font-size: 24px;
        padding-top: 5vh;
    }

    .button-1 {
        width: 490px;
        height: 85px;
        font-size: 22px;
        margin-top: 6rem;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}


/* Rodapé do site. */

footer {
    width: 100%;
    color: white;
}

.footer-link {
    text-decoration: none;
}

#container-footer {
    background-color: #003536;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts img {
    margin-bottom: 0.75rem;
    width: 100px;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #dfdfdf;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #00c2a2;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-h3 {
    color: #ffffff;
}

#footer_subscribe p {
    color: #dfdfdf;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #ffffff;
    border: none;
    color: #003536;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}


#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #003536a8;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Rodapé responsivo (dispositivos móveis). */

@media screen and (max-width: 768px) {
    #container-footer {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #container-footer {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}