  /*Fonte "Cocon" para títulos. */

  @import url('https://fonts.cdnfonts.com/css/cocon');

  * {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }

  header {
    background-color: #00353600;
    margin-bottom: -10vw;
    position: relative;
    z-index: 1001;
  }

  main {
    overflow-x: hidden;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    display: flex;
    align-items: center;
    width: 80px;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .nav-item {
    margin: 0 30px;
  }

  .nav-item a:hover {
    color: #00c2a2;
    transition: all 0.3s;
  }

  .nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s;
  }

  .nav-link:hover {
    color: #00c2a2;
    font-weight: 500;
    font-style: normal;
  }

  .login-button {
    display: flex;
    align-items: center;
  }

  .login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #ffffff;
    transition: all 0.3s;
  }

  .login-button button:hover {
    background-color: #00c2a2;
    scale: 1.05;
  }

  .login-button button a {
    text-decoration: none;
    color: #003536;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
  }

  .login-button button a:hover {
    color: white;
  }

  .mobile-menu-icon {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  @media screen and (max-width: 768px) {

    .nav-item {
      display: none;
    }

    .login-button {
      display: none;
    }

    .mobile-menu-icon {
      display: block;
      align-self: center;
    }

    .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;

    }

    .mobile-menu .nav-item {
      display: block;
    }

    .mobile-menu .login-button {
      display: block;
      width: 80%;
      padding-left: 12%;

    }

    .mobile-menu .login-button button {
      width: 100%;
      height: 20%;
    }

    .open {
      display: block;
    }
  }

  .banner-topo {
    display: grid;
    width: 100%;

  }

  .banner-topo img {
    width: 100vw;
    height: 100%;
    display: flex;
    grid-area: 1/1;
    grid-template-columns: column;
  }

  .banner-topo h1 {
    font-family: "Cocon", sans-serif;
    color: #ffffff;
    font-size: 3.5rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    grid-area: 1/1;
    padding-top: 17%;
    align-items: flex-end;
    padding-right: 6rem;
  }

  @media (max-width:480px) {
    header {
      background-color: #003536;
      position: relative;
      z-index: 1001;
    }

    .logo img {
      width: 40px;
    }

    .logo {

      padding-bottom: 10%;
    }

    .mobile-menu-icon {
      width: 20px;
      padding-bottom: 10%;
    }

    .nav-bar {
      padding-right: 10%;
      padding-left: 5%;
    }

    .banner-topo h1 {
      font-family: "Cocon", sans-serif;
      color: #ffffff;
      font-size: 4vw;
      text-align: right;
      display: flex;
      flex-direction: column;
      grid-area: 1/1;
      margin-top: 9%;
      align-items: flex-end;
      padding-right: 7%;
    }

    .banner-topo {
      display: grid;
      width: 100%;

    }

    .banner-topo img {
      width: 100vw;
      height: 65vw;
      display: flex;
      grid-area: 1/1;
      grid-template-columns: column;
    }

  }

  @media(min-width:481px) and (max-width:768px) {

    .logo img {
      width: 50px;
    }

    .logo {

      padding-bottom: 10%;
    }

    .mobile-menu-icon {
      width: 20px;
      padding-bottom: 10%;
    }

    .nav-bar {
      padding-right: 7%;
    }

    header {
      background-color: #00353600;
      margin-bottom: -48vw;
      position: relative;
      z-index: 1001;
    }

    .banner-topo h1 {
      font-family: "Cocon", sans-serif;
      color: #ffffff;
      font-size: 4vw;
      text-align: right;
      display: flex;
      flex-direction: column;
      grid-area: 1/1;
      margin-top: 25%;
      align-items: flex-end;
      padding-right: 5%;
    }

    .banner-topo {
      display: grid;
      width: 100%;

    }

    .banner-topo img {
      width: 100vw;
      height: 80vw;
      display: flex;
      grid-area: 1/1;
      grid-template-columns: column;
    }

  }

  @media (min-width:769px) and (max-width:1024px) {
    header {
      background-color: #00353600;
      margin-bottom: -14.5vw;
      position: relative;
      z-index: 1001;
    }

    .banner-topo {
      display: grid;
      width: 100%;

    }

    .banner-topo img {
      width: 100vw;
      height: 100%;
      display: flex;
      grid-area: 1/1;
      grid-template-columns: column;
    }

    .banner-topo h1 {
      font-family: "Cocon", sans-serif;
      color: #ffffff;
      font-size: 5vw;
      text-align: right;
      display: flex;
      flex-direction: column;
      grid-area: 1/1;
      padding-top: 17%;
      align-items: flex-end;
      padding-right: 3rem;
    }
  }

  @media (min-width:1024px) {
    header {
      background-color: #00353600;
      margin-bottom: -12vw;
      position: relative;
      z-index: 1001;
    }
  }



  /* Estilos da seção hero. */

  .section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;

  }

  .hero-content {
    display: flex;
    justify-content: space-between;
    flex: content;
    flex-direction: column;
    min-width: 63.5vw;
  }



  .hero-content button {
    margin-top: 4rem;
    background-color: #00C2A2;
    color: white;
    width: 14vw;
    height: 3.5vw;
    border: none;
    border-radius: 100px;
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
    margin-left: 42.6%;
  }

  .hero-content button:hover {
    color: #969696;
    background-color: #ffffff;
    border-color: #969696;
    border: 1px solid;
  }

  .h1-1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: #003536;
    padding-left: 0%;
    font-weight: 550;

  }


  .p-1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 0.85rem;
    color: #969696;
    padding-left:15% ;
    padding-right: 15%;
    width: 65%;
  }

  .mvv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-items: flex-start;
    margin-top: 5%;
    gap: 7%;
  }

  .mvv {
    margin-top: 1rem;
    background-color: #ffffff;
    border:solid 1px;
    border-color: #ECECEC;
    border-radius: 10px;
    padding: 1rem;
    width: 20vw;
    color: white;
    height: 10vw;
    width: 14%;
  }

  .mvv-icone {
    display: flex;
    padding-bottom: 2%;
  }

  .mvv-icone img {
    width: 2.5rem;
    height: auto;
  }

  .mvv h4 {
    font-weight:400;
    padding-top: 0.3vh;
    padding-left: 2vh;
    font-size: 1rem;
    padding-top: 5%;
    color: #003536;
  }

  .mvv p {
    padding-top: 10%;
    font-size: 0.65rem;
    color: #969696;
    width: 105%;
  }

  @media (max-width:480px) {
    .h1-1 {
      margin-bottom: 1rem;
      margin-top: 2rem;
      text-align: center;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      font-size: 4vw;
      color: #003536;
      padding-left: 0%;

    }

    .mvv {
      margin-top: 1rem;
      background-color: #ffffff;
      border:solid 1px;
      border-color: #ECECEC;
      border-radius: 10px;
      padding: 0.7rem;
      width: 10vw;
      color: white;
      height: 10vw;
      
    }

    .mvv-container {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-items: center;
    }

    .mvv p{
      white-space: nowwrap;
      width: 110%;
      font-size: 0.17rem;
      
    }

    .hero-content {
      display: flex;
      justify-content: space-between;
      flex: content;
      flex-direction: column;
      align-items: center;
      min-width: 70vw;
    }

    .hero-content button {
      margin-top: 2rem;
      background-color: #00C2A2;
      color: white;
      width: 25vw;
      height: 4vw;
      border: none;
      border-radius: 100px;
      font-size: 0.5rem;
      position: relative;
      cursor: pointer;
      transition: all 0.2s linear;
      margin-left: 37.6%;
    }

    .p-1 {
      text-align: center;
      font-size: 0.2rem;
      color: #969696;
      white-space: nowap;
    }

    .mvv-icone img {
      width: 2vw;
      height: auto;
    }

    .mvv h4 {
      font-weight: 600;
      padding-top: 0.3vh;
      font-size: 0.3rem;
    }


  }

  @media(min-width:481px) and (max-width:768px) {

    .h1-1 {
      margin-bottom: 1rem;
      margin-top: 2rem;
      text-align: center;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      font-size: 4vw;
      color: #003536;
      padding-left: 0%;

    }

    .mvv {
      margin-top: 1rem;
      background-color: #ffffff;
      border:solid 1px;
      border-color: #ECECEC;
      border-radius: 10px;
      padding: 1rem;
      width: 16vw;
      color: white;
      height: 15vw;
      
    }

    .mvv-container {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-items: center;
    }

    .mvv p{
      white-space: nowwrap;
      width: 100%;
      font-size: 0.4rem;
      
    }

    .hero-content {
      display: flex;
      justify-content: space-between;
      flex: content;
      flex-direction: column;
      align-items: center;
      min-width: 70vw;
    }

    .hero-content button {
      margin-top: 2rem;
      background-color: #00C2A2;
      color: white;
      width: 25vw;
      height: 4.5vw;
      border: none;
      border-radius: 100px;
      font-size: 0.8rem;
      position: relative;
      cursor: pointer;
      transition: all 0.2s linear;
      margin-left: 37.6%;
    }

    .p-1 {
      text-align: center;
      font-size: 0.4rem;
      color: #969696;
      white-space: nowap;
    }

    .mvv-icone img {
      width: 2vw;
      height: auto;
    }

    .mvv h4 {
      font-weight: 600;
      padding-top: 0.3vh;
      font-size: 0.5rem;
    }

  }

  @media (min-width:769px) and (max-width:1024px) {
    .mvv {
      margin-top: 1rem;
      background-color: #ffffff;
      border:solid 1px;
      border-color: #ECECEC;
      border-radius: 10px;
      padding: 1rem;
      width: 20vw;
      color: white;
      height: 15vw;
      
    }

    .mvv-container {
      display: flex;
      justify-content: space-between;
      width: 75vw;
      align-items: center;
      flex-direction: row;
      justify-items: flex-start;
    }

    .mvv p{
      white-space: nowwrap;
      width: 105%;
      
    }

    .hero-content {
      display: flex;
      justify-content: space-between;
      flex: content;
      flex-direction: column;
      align-items: center;
      min-width: 70vw;
    }

    .hero-content button {
      margin-top: 4rem;
      background-color: #00C2A2;
      color: white;
      width: 20vw;
      height: 3.5vw;
      border: none;
      border-radius: 100px;
      font-size: 1.2rem;
      position: relative;
      cursor: pointer;
      transition: all 0.2s linear;
      margin-left: 3.6%;
    }

    .p-1 {
      text-align: center;
      font-size: 0.7rem;
      color: #969696;
      white-space: nowap;
    }

    .hero-text-and-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }

  }

  @media (min-width:1025px) and (max-width:1290px) {
    .hero-content {
      display: flex;
      justify-content: space-between;
      flex: content;
      flex-direction: row;
      min-width: 70vw;
    }
  }

  .depo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .depo h1{
    font-size: 3.5rem;
    color: #003536;
  }

  .container-depo{
    display: flex;
    margin-top: 8%;
    border: 2px solid #ECECEC;
    width: 20vw;
    border-radius: 20px;
    padding: 18px;
    min-height: 10vw;
  }

  .depo-all{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 65%;
  }

  .container-depo h3{
    color: #000000;
    font-weight: 600;
    font-size: 0.9rem;
    width: 105%;
  }

  .p-d{
    font-size: 0.6rem;
    color: #969696;
    width: 99%;
  }

  .depo h4{
    color: #003536;
    font-size: 0.7rem;
    font-weight: 500;
  }

  .p-p{
    font-size: 0.4rem;
    color: #969696;
  }

  .nome-e-des{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10%;
  }

  .foto-perfil{
    display: flex;
    margin-top: 15%;
  }

  /*responsividade dos depoimentos*/

  @media (max-width:480px) {
    .depo h1{
      font-size: 1.5rem;
      color: #003536;
    }
  
    .depo-all{
      display: flex;
      flex-direction: row;
      gap: 5%;
      width: 80%;
    }
  
    .nome-e-des{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 10%;
    }
    .foto-perfil{
      display: flex;
    }
  
    .p-d{
      font-size: 0.1rem;
      color: #969696;
      width: 100%;
      
    }
  
    .container-depo h3{
      color: #000000;
      font-weight: 600;
      font-size: 0.18rem;
      width: 100%;
    }
  
    .depo h4{
      font-size: 0.13rem;
    }
  
    .depo img {
      width: 12%;
      height: 10%;
    }
  
    .p-p{
      font-size: 0.1rem;
    }
  
  }

@media (min-width:480px)  and (max-width:768px){
  .depo h1{
    font-size: 2rem;
    color: #003536;
  }

  .depo-all{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 80%;
  }

  .nome-e-des{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10%;
  }
  .foto-perfil{
    display: flex;
  }

  .p-d{
    font-size: 0.25rem;
    color: #969696;
    width: 100%;
    
  }

  .container-depo h3{
    color: #000000;
    font-weight: 600;
    font-size: 0.3rem;
    width: 100%;
  }

  .depo h4{
    font-size: 0.3rem;
  }

  .depo img {
    width: 12%;
    height: 10%;
  }

  .p-p{
    font-size: 0.2rem;
  }


}


@media (min-width:768px) and (max-width:1024px) {
  .depo h1{
    font-size: 3rem;
    color: #003536;
  }

  .depo-all{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 80%;
  }

  .nome-e-des{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10%;
  }
  .foto-perfil{
    display: flex;
  }

  .p-d{
    font-size: 0.4rem;
    color: #969696;
    width: 100%;
    
  }

  .container-depo h3{
    color: #000000;
    font-weight: 600;
    font-size: 0.6rem;
    width: 100%;
  }

  .depo h4{
    font-size: 0.5rem;
  }

  .depo img {
    width: 12%;
    height: 10%;
  }

  .p-p{
    font-size: 0.3rem;
  }

}

  .section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .movimento-esg {
    display: flex;
    flex-direction: column;
   margin-left: 17.5%;
   margin-top: 10%;
  }

  .movimento-esg h1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    color: #003536;
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 550;
   
  }

  .sigla{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 70%;
  }
  .sigla p{
    padding-bottom: 8%;
    color: #969696;
    width: 100%;
  }

  span{
  font-weight: 500;
}

  .img-esg1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .img-esg1 p{
    padding-left: 2%;
  }

  .s-img{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 19%;
  }

  .b-esg{
    margin-top: 4rem;
    background-color: #00C2A2;
    color: white;
    width: 25vw;
    height: 3.5vw;
    border: none;
    border-radius: 100px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s linear;
    margin-left: 35%;
  } 

  .b-esg:hover {
    color: #969696;
    background-color: #ffffff;
    border-color: #969696;
    border: 1px solid;
  }
  
@media (max-width:480px) {
  .movimento-esg {
    display: flex;
    flex-direction: column;
   margin-left: 9.5%;
   margin-top: 10%;
  }

  .movimento-esg h1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    color: #003536;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    padding-bottom: 1rem;
   
  }

  .sigla{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .sigla p{
    font-size: 0.3rem;
    padding-bottom: 13%;
    width: 100%;
    color: #969696;
    word-wrap: break-word;
  }

  span{
  font-weight: 500;
}

  .img-esg1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .img-esg1 p{
    padding-left: 2%;
  } 

  .img-esg1 img{
    width: 5%;
  }

  .s-img{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10%;
  }

  .img-pl{
    width: 30vw;
   
    padding-bottom: 10%;
  }

  .b-esg{
    margin-top: 1rem;
    background-color: #00C2A2;
    color: white;
    width: 30vw;
    height: 3.5vw;
    border: none;
    border-radius: 100px;
    font-size: 0.35rem;
    cursor: pointer;
    transition: all 0.2s linear;
    margin-left: 35%;
  } 
}

@media (min-width:480px) and (max-width:768px){
  .movimento-esg {
    display: flex;
    flex-direction: column;
   margin-left: 9.5%;
   margin-top: 10%;
  }

  .movimento-esg h1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    color: #003536;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    padding-bottom: 1rem;
   
  }

  .sigla{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .sigla p{
    font-size: 0.5rem;
    padding-bottom: 13%;
    width: 100%;
    color: #969696;
    word-wrap: break-word;
  }

  span{
  font-weight: 500;
}

  .img-esg1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .img-esg1 p{
    padding-left: 2%;
  } 

  .img-esg1 img{
    width: 5%;
  }

  .s-img{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 17%;
  }

  .img-pl{
    width: 30vw;
   
    padding-bottom: 10%;
  }

  .b-esg{
    margin-top: 1rem;
    background-color: #00C2A2;
    color: white;
    width: 30vw;
    height: 3.5vw;
    border: none;
    border-radius: 100px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s linear;
    margin-left: 35%;
  } 
}

@media (min-width:768px) and (max-width:1024px){
  .movimento-esg {
    display: flex;
    flex-direction: column;
   margin-left: 9.5%;
   margin-top: 10%;
  }

  .movimento-esg h1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    color: #003536;
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    padding-bottom: 1rem;
   
  }

  .sigla{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .sigla p{
    font-size: 0.7rem;
    padding-bottom: 13%;
    width: 100%;
    color: #969696;
    word-wrap: break-word;
  }

  span{
  font-weight: 500;
}

  .img-esg1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .img-esg1 p{
    padding-left: 2%;
  }

  .s-img{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5%;
  }

  .img-pl{
    width: 30vw;
   
    padding-bottom: 10%;
  }

  .b-esg{
    margin-top: 1rem;
    background-color: #00C2A2;
    color: white;
    width: 35vw;
    height: 3.5vw;
    border: none;
    border-radius: 100px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s linear;
    margin-left: 35%;
  } 
}
 

 

  footer {
    margin-top: 5rem;
    width: 100%;
    color: white;
  }

  .footer-link {
    text-decoration: none;
  }

  #container-footer {
    background-color: #003536;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 5%;
  }

  #container-footer p {
    color: white;
  }

  #footer_contacts img {
    margin-bottom: 0.75rem;
    width: 100px;
  }

  #footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
  }

  #footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
  }

  #footer_social_media .footer-link i {
    font-size: 1.25rem;
  }

  #footer_social_media .footer-link:hover {
    opacity: 0.8;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
  }

  .footer-list .footer-link {
    color: #dfdfdf;
    transition: all 0.4s;
  }

  .footer-list .footer-link:hover {
    color: #00c2a2;
  }

  #footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  #footer_subscribe p {
    text-align: left;
    color: #dfdfdf;
  }

  #input_group {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }

  #input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
  }

  #input_group button {
    background-color: #ffffff;
    border: none;
    color: #003536;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
  }


  #input_group button:hover {
    opacity: 0.8;
  }

  #footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #003536a8;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @media screen and (max-width: 768px) {
    #container-footer {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }

  @media screen and (max-width: 426px) {
    #container-footer {
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
    }
  }