body {

    overflow-x: hidden;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;

}

.container {

    background-image: url(../imagens/banner-6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 49vw;
    width: auto;
   margin: 0 auto;
box-shadow: 0 0 1em 0.5em rgb(113, 100, 100);
    justify-content: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.container h1 {

    color: #ffffff;
    font-weight: 600;
    font-size: 4vw;
    display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   position: absolute; 
   left: 35%;
   top: 40%;
   transform: translate(-50%, -50%);
}


.container-2 h1 {
    color: #003536;
    font-weight: 700;
    font-size: 5vw;


}

.container-2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.slider {

    overflow: hidden;
    max-width: 100%;
}
.slides {

    display: flex;
    height: 35vw;
    width: 400%;
    margin: 0 auto;
    flex-direction: row;
padding-top: 1%;
transition: margin-left 0.5s ease;

}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slides img {

    border-radius: 40px;
    box-shadow: 1em 1em 1em 1em #a1979784;
    width: 57%;
    height: auto;
    display: block; 
    display: flex;
    margin: 0 auto;

}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;  
}

.depo {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto; 
    
}

.depo h1 {

    color: #003536;
    font-weight: 700;
    font-size: 5vw;
}

/*Página de comentarios. */






.faq {
background: none;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 3vh 7vh;
padding: 5%;
width: auto;
height: auto;
flex-direction: row row;
align-items: center;
}

/* Caixinha verde de comentarios e animações do mesmo. */

.faq-item {
background: linear-gradient(49deg, #003536, #00999C);
border-radius: 20px;
padding: 4%;
max-width: 75vh;
max-height: 20%;
color: white;
cursor: pointer;
transition: transform 0.4s;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}



.faq-item:hover {
transform: translateY(-20.5px);
font-size: 1.3rem;
}

.faq-texto {
font-size: 1.3vw;
margin: 0 auto;
}
