body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 2rem; 
}

.mensagem {
    text-align: center;
    margin-bottom: 2rem; 
    margin-top: 2rem; 
}

.btn-voltar {
    font-size: 1rem;
    display: flex;
    margin-left: 6rem;
    height: 3em;
    width: 110px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 5px;
    transition: all 0.2s linear;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: #003536;
    color: white;
}

.btn-voltar i {
    margin-right: 10px;
    margin-left: 4px;
    font-size: 18px;
    transition: all 0.4s ease-in;
    stroke: white;
    fill: white;
}

.btn-voltar:hover i {
    font-size: 1.2em;
    transform: translateX(-3px);
}

.btn-voltar:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    background: #00c2a2;
}

button {
    background-color: #003536;
    color: white;
    text-align: center;
    font-size: 1rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #00c2a2;
    scale: 1.05;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; 
    border-radius: 1.5rem;
    position: fixed; /* Corrigido para position fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"],
input[type="file"],
input[type="date"] { 
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%; /* Ajustamos a largura para 100% */
    box-sizing: border-box; /* Incluímos o padding e a borda no cálculo da largura */
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

h1 {
    color: #003536;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem; 
}

p {
    color: #003536;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

/* Estilos para os cards das vacinas */
.card {
    background-color: #f5f5f5; 
    border-radius: 1rem;
    box-shadow: 0px 0px 30px rgba(0, 53, 54, 0.5); 
    padding: 1rem; 
    margin-bottom: 1rem;
    display: flex;
    align-items: stretch; 
    width: calc(100% - 1rem); 
}

@media (max-width: 768px) { 
    .container {
        padding: 1rem; /* Reduz o padding em telas menores */
    }

    .card {
        flex-direction: column; /* Muda para layout em coluna em telas menores */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    .card img {
        margin-bottom: 1rem; /* Adiciona espaçamento abaixo da imagem em telas menores */
        margin-right: 0; /* Remove a margem direita da imagem */
    }

    input[type="text"],
    input[type="file"],
    input[type="date"] {
        width: 100%; /* Inputs ocupam toda a largura em telas menores */
    }

    #formVacina button[type="submit"] {
        width: 100%; /* Botão ocupa toda a largura em telas menores */
    }

    .imagem-vacinas {
        max-width: 200px; 
    }
}

.card img {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
}

.card-info {
    flex-grow: 1; 
    text-align: left; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
    align-items: flex-start; 
}

.card-info h3 {
    margin: 0 0 0rem;  
    font-size: 1.5rem; 
    color: #003536; 
}

.card-info p {
    margin: 0;
    font-size: 1rem; 
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.1rem; 
}

.card-info p:first-of-type { 
    margin-top: 0.25rem;  
}

.card-info p:last-of-type { 
    margin-top: 0.75rem; 
    margin-bottom: 0.5rem; 
}

.card button {
    background-color: #dc3545;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    margin-left: 0; 
    margin-top: 0.5rem; 
    align-self: flex-start; 
}

.imagem-vacinas {
    display: block; 
    margin: 0 auto 2rem; 
    max-width: 300px; 
    height: auto; 
}

#abrirModal { 
    font-family: "Poppins", sans-serif; 
    display: block; 
    margin: 0 auto; 
}

#listaVacinas {
    margin-top: 4rem; 
    width: 100%; 
    max-width: 600px; 
}

body.modal-aberto {
    overflow: hidden; 
}

body.modal-aberto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

#formVacina button[type="submit"] { 
    margin: auto; 
    margin-top: 1rem; 
    font-family: "Poppins", sans-serif; 
    display: block; 
    width: 100%; 
}

label {
    display: block;
    margin-bottom: 3px;
}