* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #003536;
    box-shadow: 0px 2px 10px #003536;
    margin-bottom: 6%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    display: flex;
    align-items: center;
    width: 80px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 30px;
}

.nav-item a:hover {
    color: #00c2a2;
    transition: all 0.3s;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s;
}

.nav-link:hover {
    color: #00c2a2;
    font-weight: 500;
    font-style: normal;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #ffffff;
    transition: all 0.3s;
}

.login-button button:hover {
    background-color: #00c2a2;
    scale: 1.05;
}

.login-button button a {
    text-decoration: none;
    color: #003536;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
}

.login-button button a:hover {
    color: white;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

#h5-ola-usuario {
    font-weight: 500;
    font-size: 1em;
    color: white;
    margin-left: 25px;
}

.popup {
    --burger-line-width: 1.125em;
    --burger-line-height: 0.125em;
    --burger-offset: 0.625em;
    --burger-bg: white;
    --burger-color: #333;
    --burger-line-border-radius: 0.1875em;
    --burger-diameter: 3.125em;
    --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
    --burger-line-transition: 0.3s;
    --burger-transition: all 0.1s ease-in-out;
    --burger-hover-scale: 1.1;
    --burger-active-scale: 0.95;
    --burger-enable-outline-color: var(--burger-bg);
    --burger-enable-outline-width: 0.125em;
    --burger-enable-outline-offset: var(--burger-enable-outline-width);
    /* nav */
    --nav-padding-x: 0.25em;
    --nav-padding-y: 0.625em;
    --nav-border-radius: 0.375em;
    --nav-border-color: #ccc;
    --nav-border-width: 0.0625em;
    --nav-shadow-color: rgba(0, 0, 0, 0.2);
    --nav-shadow-width: 0 1px 5px;
    --nav-bg: #eee;
    --nav-font-family: "Poppins", sans-serif;
    --nav-default-scale: 0.8;
    --nav-active-scale: 1;
    --nav-position-left: unset;
    --nav-position-right: 0;
    /* if you want to change sides just switch one property */
    /* from properties to "unset" and the other to 0 */
    /* title */
    --nav-title-size: 0.625em;
    --nav-title-color: #777;
    --nav-title-padding-x: 1rem;
    --nav-title-padding-y: 0.25em;
    /* nav button */
    --nav-button-padding-x: 1rem;
    --nav-button-padding-y: 0.375em;
    --nav-button-border-radius: 0.375em;
    --nav-button-font-size: 17px;
    --nav-button-hover-bg: #00c2a2;
    --nav-button-hover-text-color: #fff;
    --nav-button-distance: 0.875em;
    /* underline */
    --underline-border-width: 0.0625em;
    --underline-border-color: #ccc;
    --underline-margin-y: 0.3125em;
}

.popup {
    display: flex;
    align-items: center;
    text-rendering: optimizeLegibility;
    position: relative;
}

.popup input {
    display: none;
}

.burger {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: var(--burger-bg);
    width: var(--burger-diameter);
    height: var(--burger-diameter);
    border-radius: var(--burger-btn-border-radius);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: var(--burger-transition);
    outline: var(--burger-enable-outline-width) solid transparent;
    outline-offset: 0;
}

.popup-window {
    transform: scale(var(--nav-default-scale));
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: var(--nav-padding-y) var(--nav-padding-x);
    background: var(--nav-bg);
    font-family: var(--nav-font-family);
    color: var(--nav-text-color);
    border-radius: var(--nav-border-radius);
    box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
    border: var(--nav-border-width) solid var(--nav-border-color);
    top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
    left: var(--nav-position-left);
    right: var(--nav-position-right);
    transition: var(--burger-transition);
    margin-top: 30px;
}

.popup-window legend {
    padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
    margin: 0;
    color: var(--nav-title-color);
    font-size: var(--nav-title-size);
    text-transform: uppercase;
}

.popup-window ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.popup-window ul a {
    text-decoration: none;
}

.popup-window ul button {
    outline: none;
    width: 100%;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    color: var(--burger-color);
    font-size: var(--nav-button-font-size);
    padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
    white-space: nowrap;
    border-radius: var(--nav-button-border-radius);
    cursor: pointer;
    column-gap: var(--nav-button-distance);
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
    color: #00bf63;
}

.popup-window ul li:nth-child(4) svg,
.popup-window ul li:nth-child(5) svg {
    color: rgb(153, 153, 153);
}

.popup-window ul li:nth-child(7) svg {
    color: red;
}

.popup-window hr {
    margin: var(--underline-margin-y) 0;
    border: none;
    border-bottom: var(--underline-border-width) solid var(--underline-border-color);
}

/* actions */

.popup-window ul button:hover,
.popup-window ul button:focus-visible,
.popup-window ul button:hover svg,
.popup-window ul button:focus-visible svg {
    color: var(--nav-button-hover-text-color);
    background: var(--nav-button-hover-bg);
}

.burger:hover {
    transform: scale(var(--burger-hover-scale));
}

.burger:active {
    transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
    outline-color: var(--burger-enable-outline-color);
    outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked+.burger span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.popup input:checked+.burger span:nth-child(2) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.popup input:checked+.burger span:nth-child(3) {
    transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
}

.popup input:checked~nav {
    transform: scale(var(--nav-active-scale));
    visibility: visible;
    opacity: 1;
}


@media screen and (max-width: 730px) {

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        align-self: center;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    #h5-ola-usuario {
        display: none;
    }
}

.mensagem {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.btn-voltar {
    font-size: 1rem;
    display: flex;
    margin-left: 6rem;
    margin-bottom: 1rem;
    height: 3em;
    width: 110px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 5px;
    transition: all 0.2s linear;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: #003536;
    color: white;
}

.btn-voltar i {
    margin-right: 10px;
    margin-left: 4px;
    font-size: 18px;
    transition: all 0.4s ease-in;
    stroke: white;
    fill: white;
}

.btn-voltar:hover i {
    font-size: 1.2em;
    transform: translateX(-3px);
}

.btn-voltar:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    background: #00c2a2;
}

button {
    background-color: #003536;
    color: white;
    text-align: center;
    font-size: 1rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #00c2a2;
    scale: 1.05;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 1.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"],
input[type="file"],
input[type="date"] {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

h1 {
    font-family: "Cocon", sans-serif;
    color: #003536;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}


a {
    text-decoration: none;
}

/* Estilos para os cards das vacinas. */

.card {
    background-color: #f5f5f5;
    border-radius: 1rem;
    box-shadow: 0px 0px 30px rgba(0, 53, 54, 0.5);
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: stretch;
    width: calc(100% - 1rem);
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .card {
        flex-direction: column;
        align-items: center;
    }

    .card img {
        margin-bottom: 1rem;
        margin-right: 0;
    }

    input[type="text"],
    input[type="file"],
    input[type="date"] {
        width: 100%;
    }

    #formVacina button[type="submit"] {
        width: 100%;
    }

    .imagem-vacinas {
        max-width: 200px;
    }
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
}

.card-info {
    flex-grow: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: flex-start;
}

.card-info h3 {
    margin: 0 0 0rem;
    font-size: 1.5rem;
    color: #003536;
}

.card-info p {
    margin: 0;
    font-size: 1rem;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.1rem;
}

.card-info p:first-of-type {
    margin-top: 0.25rem;
}

.card-info p:last-of-type {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.card button {
    background-color: #dc3545;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    margin-left: 0;
    margin-top: 0.5rem;
    align-self: flex-start;
}

.imagem-vacinas {
    display: block;
    margin: 0 auto 2rem;
    max-width: 300px;
    height: auto;
}

#abrirModal {
    font-family: "Poppins", sans-serif;
    display: block;
    margin: 0 auto;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#listaVacinas {
    margin-top: 4rem;
    width: 100%;
    max-width: 600px;
}

body.modal-aberto {
    overflow: hidden;
}

body.modal-aberto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#formVacina button[type="submit"] {
    margin: auto;
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    display: block;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 3px;
}

/* Responsividade. */

@media screen and (max-width:768px) {
    
.btn-voltar {
    width: 200px;
    margin: 2rem auto;
}
}

footer {
    margin-top: 5rem;
    width: 100%;
    color: white;
}

.footer-link {
    text-decoration: none;
}

#container-footer {
    background-color: #003536;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 5%;
}

#container-footer p{
    color: white;
}

#footer_contacts img {
    margin-bottom: 0.75rem;
    width: 100px;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #dfdfdf;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #00c2a2;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    text-align: left;
    color: #dfdfdf;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #ffffff;
    border: none;
    color: #003536;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}


#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #003536a8;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 768px) {
    #container-footer {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #container-footer {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}