* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #f8f8f8;
}

/* Formatação para o conteúdo (main) não ficar escondido do sidebar. */

main {
  flex: 1;
  margin-top: 2.5rem;
  padding-left: calc(0px + 10px);
  transition: padding-left 0.5s ease;
}

/* Sidebar (minimizado e expandido). */

#sidebar.expandido~main {
  padding-left: calc(10px + 0px);
}

#sidebar {
  margin: 2.5rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  height: 90vh;
  border-radius: 20px;
  position: relative;
  transition: width 0.5s ease-in-out;
  width: 6.5rem;
  z-index: 2;
}

#sidebar_content {
  padding: 0.9rem;
}

#logo p {
  font-family: "Cocon", sans-serif;
  font-size: 2.3rem;
  letter-spacing: 1.7px;
  font-weight: bold;
  color: #00C2A2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: width 0.3s ease;
}

#side_items {
  place-items: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.side-item {
  border-radius: 8px;
  padding: 14px 1rem;
  cursor: pointer;
}

.side-item:hover:not(.active) {
  background-color: #e3f7f4;
}

.side-item a {
  text-decoration: none;
  color: #969696;
  width: 100%;
  display: flex;
  align-items: center;
}

.side-item3 {
  background-color: #00c2a22d;
  border-radius: 10px;
}

.side-item3 span {
  color: #003536;
}

.side-item a svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.item-description {
  margin-left: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  color: #969696;
  transition: width .6s;
}

#sidebar.open-sidebar .item-description {
  width: 9.3rem;
  height: auto;
  transition: width 0.5s ease, height 0.5s ease;
}

#sidebar.expandido {
  width: 250px;
}

#sidebar_content {
  opacity: 1;
  transition: opacity 0.3s;
}

#side_items .item-description {
  display: none;
}

#sidebar.expandido #side_items .item-description {
  display: flex;
}

hr {
  align-items: center;
  height: 1.5px;
  border-radius: 5px;
  border: none;
  background-color: #58585899;
  margin: 1rem;
}

/* Notificações do usuário e conta. */

header {
  position: absolute;
  top: 2rem;
  right: 1rem;
  padding: 0.8rem 1.3rem;
  z-index: 10;
}

.container-noti {
  display: flex;
  align-items: center;
}

.noti-icon {
  width: 90px;
  height: 75px;
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
  cursor: pointer;
  transition: background-color 0.9s ease;
}

.noti-icon-active {
  transition: background-color 2s ease;
  background-color: #00c2a22d;
}

@keyframes swing {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0);
  }
}

.noti-icon.swing {
  animation: swing 0.6s ease;
}

.conta {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 13px;
  width: 100%;
}

.conta img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-right: 1rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container i {
  justify-content: space-between;
  color: #969696;
  cursor: pointer;
}

.user-nome {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.user-email {
  color: #969696;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

/* Pop-Up das notificações. */

.notificacao-popup {
  position: absolute;
  width: 450px;
  margin-top: 3rem;
  margin-right: 1rem;
  top: 100%;
  right: 0;
  background-color: white;
  border-radius: 20px;
  padding: 1.5rem 2rem;
  display: none;
}

.notificacao-popup.active {
  display: block;
  animation: slideInRight 0.5s ease-in-out;
}

/*Animações ao abrir as notificações. */

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.texto-e-svg span {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 400;
}

.texto-e-svg {
  display: flex;
  justify-content: space-between;
}

.notificacao-popup p {
  font-size: 0.8rem;
  color: #969696;
}

.navegacao {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 0px 3.5px 3.5px #96969618;
  padding: 0.5rem;
  gap: 5rem;
  place-content: center;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.navegacao a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #00c2a2;
}

.navegacao a:active {
  color: #003536;
}

/* Conteúdo (main). */

.h-1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 4.2rem;
}

.h-2 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.h-3 {
  font-size: 1rem;
  font-weight: 400;
  color: #969696;
  margin-bottom: 3rem;
}

main img {
  place-items: center;
  width: 10%;
}

.h-4 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.h-5 {
  font-size: 1rem;
  font-weight: 400;
  color: #969696;
  margin-bottom: 1.5rem;
}

main a button {
  width: 180px;
  margin-top: 1.3rem;
  font-size: 0.8rem;
  padding: 0.7rem;
  text-decoration: none;
  color: white;
  border: #00C2A2;
  border-radius: 20px;
  background-color: #00C2A2;
  box-shadow: 0px 0px 1.3px 1.3px #00c2a23b;
  cursor: pointer;
}

main i {
  font-weight: 510;
  align-items: center;
  margin-left: 0.8rem;
}

main a button:hover {
  background-color: #f9f9f9;
  color: #969696;
  transition: 0.6s ease;
  border: 1px solid #969696;
  box-shadow: none;
}

/* Seção 1*/

#nova-secao {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem auto;
}

#nova-secao h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin: 3rem 10rem 3rem 0rem;
}

#nova-secao p {
  text-align: center;
  margin: 3rem 10rem 3rem 0rem;
  font-weight: 300;
  font-size: 1.2rem;
  color: #969696;
}

.container-img {
  margin: 0rem 8rem 0rem 0rem;
  text-align: center;
}

.container-img img {
  width: 50%;
}

.botoes-alinhados {
  margin: 3rem 10rem 3rem 0rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.botao1 a button {
  width: 180px;
  margin-top: 1.3rem;
  font-size: 0.8rem;
  padding: 0.7rem;
  text-decoration: none;
  color: #454545;
  border: white;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
}

.botao1 i {
  font-weight: 510;
  align-items: center;
  margin-right: 0.8rem;
}

.botao1 a button:hover {
  background-color: #f9f9f9;
  color: #969696;
  transition: 0.6s ease;
  border: 1px solid #969696;
  box-shadow: none;
}


.botao2 a button {
  width: 180px;
  margin-top: 1.3rem;
  font-size: 0.8rem;
  padding: 0.7rem;
  text-decoration: none;
  color: white;
  border: #00C2A2;
  border-radius: 20px;
  background-color: #00C2A2;
  box-shadow: 0px 0px 1.3px 1.3px #00c2a23b;
  cursor: pointer;
}

.botao2 i {
  font-weight: 510;
  align-items: center;
  margin-left: 0.8rem;
}

.botao2 a button:hover {
  background-color: #f9f9f9;
  color: #969696;
  transition: 0.6s ease;
  border: 1px solid #969696;
  box-shadow: none;
}

/*Seção 2 (seção do buscador). */

#nova-secao2 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem auto;
}

.h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin: 3rem 10rem 3rem 0rem;
}

#nova-secao2 .p {
  text-align: center;
  margin: 3rem 10rem 3rem 0rem;
  font-weight: 300;
  font-size: 1.2rem;
  color: #969696;
}

.buscador-container {
  background-color: white;
  width: 600px;
  margin: 0rem 0rem 0rem -6rem;
  padding: 50px 60px 50px 60px;
  box-shadow: 0px 0px 10px rgba(0, 33, 33, 0.2);
  border-radius: 20px;
  margin-bottom: 8%;
}

.container-buscador button:active {
  scale: 0.95;
}

h3 {
  font-weight: 500;
  color: #003536;
  text-align: left;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.grupo-input-nome {
  padding-bottom: 1rem;
}

.grupo-input-nome label {
  display: block;
}

.grupo-input-nome input {
  width: 100%;
  box-sizing: border-box;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  border-radius: 10px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.grupo-input-nome input::placeholder {
  opacity: 0.5;
}

.grupo-input-nome input:focus {
  outline: none;
  border-color: #00C2A2;
}

.escolhas-buscador {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 1rem;
}

.checkbox-buscador {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #003536;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox-buscador::before {
  content: "";
  background-color: #00c2a2;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.checkbox-buscador:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.grupo-checkbox-label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #003536;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

/* input de distância */

.slider-distancia {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  border-radius: 5px;
  background: #003536;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-distancia::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #003536;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.slider-distancia::-webkit-slider-thumb:hover {
  background-color: #00C2A2;
  border: 1px solid #00C2A2;
  transition: 0.3s ease-in-out;
}

.slider-distancia::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #003536;
  cursor: pointer;
}

.container-slider-distancia {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  gap: 1rem;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.slider-distancia-valores {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  align-items: center;
  text-align: center;
  width: 50;
  background-color: #003536;
  padding: 10px 15px;
  border-radius: 10px;
  color: #ffffff;
}

/* input custo */

.input-distancia {
  padding-bottom: 1rem;
}

.container-input-custo {
  width: 100%;
  margin-top: 8px;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.input-custo {
  width: 100%;
}

.input-custo .input-custo-valores,
.input-custo,
.input-custo-previa {
  display: inline-block;
  vertical-align: top;
}

.input-custo .input-custo-valores {
  display: flex;
  margin: 0;
  font-weight: 500;
  color: #003536;
}

.input-custo .input-custo-valores>div:first-child {
  margin-right: 2px;
}

.input-custo .input-custo-valores>div:last-child {
  margin-left: 2px;
}

.input-custo .input-custo-previa {
  display: block;
  color: #003536;
  margin-top: 8px;
  font-size: 15px;
}

.input-custo .slider {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  color: #003536;
}

/* margem sliders */

.input-ranges[type='range'] {
  width: 100%;
  height: 30px;
  overflow: hidden;
  outline: none;
}

.input-ranges[type='range'],
.input-ranges[type='range']::-webkit-slider-runnable-track,
.input-ranges[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

.input-ranges[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: #003536;
}

.input-ranges[type='range']:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}

.input-ranges[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  background: #fff;
  border: 1px solid #00C2A2;
  transition: 0.2s ease-in-out;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.input-ranges[type='range']::-webkit-slider-thumb:hover {
  background: #00C2A2;
}

.input-ranges[type='range']::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.input-ranges[type='range']:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}

.rangeslider {
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 100%;
  display: inline-block;
  margin-top: -5px;
}

.rangeslider input {
  position: absolute;
}

.rangeslider span {
  position: absolute;
  margin-top: 20px;
  left: 0;
}

.rangeslider .right {
  position: relative;
  float: right;
  margin-right: -5px;
}

/* escolha animais */

.radio-inputs {
  display: flex;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs>* {
  margin: 6px;
}

.radio-input:checked+.radio-tile {
  border-color: #00C2A2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #00C2A2;
}

.radio-input:checked+.radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #00C2A2;
  border-color: #00C2A2;
}

.radio-input:checked+.radio-tile .radio-icon svg {
  fill: #003536;
}

.radio-input:checked+.radio-tile .radio-label {
  color: #003536;
}

.radio-input:focus+.radio-tile {
  border-color: #00C2A2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5d9cb;
}

.radio-input:focus+.radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #003536;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.icon-animal img {
  height: 4rem;
  margin-bottom: 1rem;
}

.radio-label {
  color: #003536;
  transition: 0.375s ease;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* select */

#searchInput {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin-bottom: 1rem;
}

.select input::placeholder {
  opacity: 0.5;
}

#resultList {
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

#resultList li {
  list-style: none;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#resultList li:hover {
  transform: scale(1.05);
  background-color: #c2e3df;
  border-radius: 10px;
}

.select input:focus {
  outline: #00C2A2;
  border: #00C2A2;
}

.botoes-alinhados2 {
  margin: 3rem 10rem 3rem 0rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.botao3 a button {
  width: 180px;
  margin-top: 1.3rem;
  font-size: 0.8rem;
  padding: 0.7rem;
  text-decoration: none;
  color: #454545;
  border: white;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
}

.botao3 i {
  font-weight: 510;
  align-items: center;
  margin-right: 0.8rem;
}

.botao3 a button:hover {
  background-color: #f9f9f9;
  color: #969696;
  transition: 0.6s ease;
  border: 1px solid #969696;
  box-shadow: none;
}


.botao4 a button {
  width: 180px;
  margin-top: 1.3rem;
  font-size: 0.8rem;
  padding: 0.7rem;
  text-decoration: none;
  color: white;
  border: #00C2A2;
  border-radius: 20px;
  background-color: #00C2A2;
  box-shadow: 0px 0px 1.3px 1.3px #00c2a23b;
  cursor: pointer;
}

.botao4 i {
  font-weight: 510;
  align-items: center;
  margin-left: 0.8rem;
}

.botao4 a button:hover {
  background-color: #f9f9f9;
  color: #969696;
  transition: 0.6s ease;
  border: 1px solid #969696;
  box-shadow: none;
}

a {
  text-decoration: none;
}

main,
#nova-secao,
#nova-secao2 {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden {
  opacity: 0;
  transform: translateX(-20px);
  pointer-events: none;
}


@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}